@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap');

body {
    font-family: 'poppins';
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 640px) {
    .select {
        width: 200px;
        outline: none;
        appearance: none;
    }

    .scroll-board {
        overflow: scroll;
    }

    .board {
        width: 1200px;
    }

    .column {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .scroll-board {
        overflow: scroll;
    }

    .board {
        width: 950px;
    }

    .column {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .paragraphe-size > p {
        font-size: 12px;
        text-align: center;
    }
}